.content {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding-top: 8px;
  padding-left: 130px;
}
.head{
  /* font-family: 'Titan One', cursive; */
  font-size: 1.8rem;
  text-decoration: none;
  color: #f1f1f1;
}
#myBtn {
  font-family: 'Titan One', cursive;
  width: 100px;
  height: 40px;
  font-size: 17px;
  /* padding: px; */
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  margin-left: 270px;
}
#myBtn:hover {
  background: #ddd;
  color: black;
}
li{
  padding-left: 5px;
}
.center{
  padding-left: 233px;
}
.text{
  margin-left: 30px;
  font-family: 'Titan One', cursive;
  font-size: 0.9rem;
  text-decoration: none;
  color: #f1f1f1;
}

